body {
    margin: 0;
    text-align: center;
}

/* navigation container */

.nav_div {
    background-color: #002f6c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 200px;
    flex-wrap: wrap;
    gap: 50px;
    height: 200px;
}

/* navigation image and text */

.nav_bar {
    display: flex;
    align-items: center;
}

.nav_bar img {
    width: 105px;
    height: 90px;
}

.nav_bar h1 {
    font-size: 50px;
    text-indent: 20px;
    text-transform: uppercase;
}

.nav_bar p {
    margin-top: 20px;
    font-size: 35px;
    text-indent: 20px;
    text-transform: uppercase;
}

/* navigation buttons */

.nav_bar_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -75px;
}

.nav_bar_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 13px;
    background-color: rgb(96, 133, 255);
    border: none;
    width: 125px;
    height: 35px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
}

.nav_bar_buttons .sport_button { /** just so that the home button wil only be changed **/
    width: 130px;
    height: 40px;
    font-size: 15px;
    color: black;
}

.nav_bar_buttons a:hover {
    background-color: rgb(48, 64, 116);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
}

/* sport images and text */

.sport_images_text_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.sport_images {
    margin-left: 175px;
    width: 700px;
}

.sport_images img {
    padding: 15px 15px;
    width: 275px;
    height: 275px;
    object-fit: cover;
}

.sport_images img:hover {
    width: 276px;
    height: 276px;
    cursor: pointer;
    object-fit: cover;
    opacity: 75%;
    transition: width 0.2s, height 0.2s, opacity 0.2s;
}

.rosmini_sport_text {
    text-align: center;
    font-size: 145%;
    padding: 60px;
    color: rgb(35, 91, 155);
    width: 700px;
}

.rosmini_sport_text h1{
    font-size: 25px;
    font-weight: bold;
}

/* sport images and text, three rows */

.row_one {
    display: flex;
    justify-content: space-around;
}

.row_one_text {
    display: flex;
    justify-content: space-around;
    color: rgb(35, 91, 155);
    font-size: 125%;
    font-weight: bold;
    gap: 122.5px;
}

.row_one_text p{
    margin-left: 85px;
}

.row_two {
    display: flex;
    justify-content: space-around;
}

.row_two_text {
    display: flex;
    justify-content: space-around;
    color: rgb(35, 91, 155);
    font-size: 125%;
    font-weight: bold;
    gap: 108px;
}

.row_two_text p{
    margin-left: 100px;   
}

.row_three {
    display: flex;
    justify-content: space-around;
    
}

.row_three_text {
    display: flex;
    justify-content: space-around;
    color: rgb(35, 91, 155);
    font-size: 125%;
    font-weight: bold;
    gap: 100px;
}

.row_three_text p{
    margin-bottom: 25px;
    margin-left: 100px;   
    margin-right: 20px;
}














/*footer section */

.footer {
    background-color: #002f6c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    flex-wrap: wrap;
    text-transform: uppercase;
    height: 185px;
}

.footer h1{
    font-size: 25px;
    margin-top: -5px;
}


.footer a,
.footer p {
    color: white;
    font-size: 15px;
}

.footer a:hover {
    color: rgb(91, 91, 91);
    transition: color 0.2s;
    text-decoration: none;
}

.footer .footer_sports_button {
    color: rgb(160, 160, 160);
}